@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #313131;
    font-family: 'Josefin Slab', serif;
}
body,html {
    background: #ffffff;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    overflow-x: hidden;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-color);
    backdrop-filter: blur(10px);
    padding: 25px 10%;
  }
  .logo {
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
  }
  span{
    color: #39bda7;
  }
  .navbar {
    display: flex;
  }
  .navbar a {
    color: black;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
  }
  .navbar a:hover {
    color: #39bda7;
    transition:  1s ;
  }
  .navbar #contact:hover {
    color: var(--text-color);
    border-radius: 30px;
  }
  .navbar #contact {
    color: var(--text-color);
    border-radius: 30px;
    background: var(--main-color);
    transition: all 300ms ease-in-out;
  }
  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #39bda7;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #39bda7;
    z-index: 1;
    background: white;
    cursor: pointer;
    font-weight: 900;
   }
   
.nav-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .nav-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 100%;
  height: 100%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .nav-button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
 }
 
 .nav-button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-49%) scaleY(1.3) scaleX(10);
 }
 
 .nav-button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
  #menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  section {
    padding: 10% 0 10%;
  }
h5 {
  color: #39bda7;
  font-size: 17px;
}
h1 {
  font-size: 8.5rem;
    color: black;
}
.intro {
  display: grid;
  align-items: center;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  height: 100vh;
}
.intro-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}
p {
  width: 65%;
  text-align: center;
  font-size: 1.4rem;
  color: #313131;
  font-weight: 700;
  line-height: 35px;
}

.main-button {
  background: #39bda7;
  color: #ffffff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid white;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em #39bda7;
  margin: 25px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
 }
 
 .main-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.25em 0.25em #39bda7;
 }
 
 .main-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #39bda7;
 }
 img {
  width: 100%;
  background: #e7e7e7;
  box-shadow: 3px 4px 50px #dfdddd;
  padding: 15%;
  cursor: pointer;
  transition: all 300ms ease;
}
.intro-center img {
  width: 50%;
  background: #e7e7e7;
  box-shadow: 3px 4px 50px #dfdddd;
  padding: 15%;
  cursor: pointer;
  transition: all 300ms ease;
}
.intro-right .svg-1 {
  transform: translateX(109px) rotate(23deg);
}
.intro-right .svg-1:hover{
  transform: translateX(109px) rotate(0);
  width: 110%;
}
.intro-right .svg-2 {
  transform: rotate(30deg);
}
.intro-right .svg-2:hover{
  transform: translateX(109px) rotate(0);
  width: 110%;
}
.intro-center .svg-2 {
  transform: rotate(30deg);
  z-index: -1;
}
.intro-center .svg-2:hover{
  transform: translateX(109px) rotate(0);
  width: 50%;
  
}
.intro-left .svg-3 {
  transform: rotate(10deg);
}
.intro-left .svg-3:hover{
  transform: translateX(-100px) rotate(0);
  width: 110%;
}



@media screen and (max-width: 1430px) {
    header{
        padding: 20px 10%;
    }
    :root{
      --big-font: 3rem;
    }
  }
  @media screen and (max-width: 1024px) {
    header{
      padding: 25px 10%;       
      display: flex;
      justify-content: space-between;
    }
    #menu-icon{
      display: block;
    }
    .navbar{
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: white;
      text-align: left;
      transition: 200ms ease;
    }
    .navbar a{
      display: block;
      padding: 1rem;
      border-left: 2px solid var(--main-color);
      margin: 1rem;
    }
    .navbar #contact:hover {
      color: var(--main-color);
      transition:  1s ;
      border-radius: 0px;
    }
    .navbar #contact {
      color: var(--text-color);
      font-size: 1rem;
      padding: 10px 20px;
      font-weight: 500;
      border-radius: 0px;
    }
    .navbar.active{
      top: 100%;
    }
    .home {
        position: relative;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-gap: 6rem;
        align-items: center;
    }
    .home-img {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
  }  
  @media screen and (max-width: 768px) {
    section {
      padding: 25% 0 10%;
  }
    p {
      z-index: 9999;
  }
}  
@media screen and (max-width: 660px) {
  section {
    padding: 25% 0 10%;
}
p {
  font-size: 15px;
  z-index: 9999;
}
h1 {
  font-size: 6.5rem;
}
}  
@media screen and (max-width: 425px) {
  section {
    padding: 32% 0 10%;
}
p {
  font-size: 20px;
  z-index: 9999;
}
h1 {
  font-size: 5.5rem;
}
}  
